
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Press Start 2P', cursive;
}

body{
    text-align: center;
}

h1{
    font-size: 4.2rem;
    padding:30px;
    filter:drop-shadow(1px 1px 1px rgb(0, 0, 0));
}

h4{
    padding:20px;
    
}

#btn-container button{
    padding: 10px 15px;
    border-radius: 8px;
    cursor: pointer;
    margin: 0 25px;
    filter:drop-shadow(2px 2px 2px rgb(0, 0, 0));
    color:aliceblue;
    background-color: rgb(120, 120, 120);
    border: 10px outset rgb(159, 159, 159);
}


#players:hover{
    transition: 0.7s;
    letter-spacing: 0.1rem;
}

#computer:hover{
    transition: 0.7s;
    letter-spacing: 0.1rem;
}

#container{
    padding-top:20px;
    display: flex;
    width: 350px;
    flex-direction: row;
    flex-wrap: wrap;
    position:relative;
    margin:0 auto;
}

.box{
    height: 120px;
    border: 5px solid #000;
    box-sizing: border-box;
    flex: 1 1 33%;
}

#block-1,#block-2,#block-3{
    border-top:none;
}

#block-1,#block-4,#block-7{
    border-left: none
}

#block-7,#block-8,#block-9{
    border-bottom: none;
}

#block-3,#block-6,#block-9{
    border-right: none;
}

.x,.o{
    font-size: 2rem;
    display: inline-block;
    line-height: 100px;
}

/* 
.hide{
    display: none !important;
} */

#scoreboard-container{
    padding-top: 20px;
    font-weight: bold;
    margin-top: 30px;
    font-size: 1.5rem;
    position: relative;
    margin:0 auto;
}

#x-scoreboard{
    color:blue;
}

#o-scoreboard{
    color:red
}

#message p {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 180px;
    width: 720px;
    height: 400px;
    font-size: 50px;
    background-color: rgb(34, 34, 34);
    color: aliceblue;
    padding: 20px;
    border-radius: 15px;
    border: 5px outset rgb(105, 105, 105);
    filter:drop-shadow(1px 1px 1px rgb(0, 0, 0));
    display: none;
}





